<footer class="footer">
  <div class="wrap">

    <div class="footer__top">

      <div class="footer__top__col footer__top__col--accordion js-footer-col-accordion">
        <h4 class="footer__title">Your Profile</h4>
        <ul class="footer__top__col__content">
          <li class="yCmsComponent"> <a href="/register" class="link-ga-register-label link-ga-register-label--footer"
              title="Sign Up">Sign Up</a></li>
          <li class="yCmsComponent"> <a href="/" title="Find a Store">Find a Store</a></li>
          <li class="yCmsComponent"> <a href="/login" class="link-ga-register-label link-ga-register-label--footer"
              title="Sign In">Sign In</a></li>
        </ul>
      </div>

      <div
        class="footer__top__col footer__top__col--customer-service footer__top__col--accordion js-footer-col-accordion">
        <h4 class="footer__title">Customer Service</h4>
        <ul class="footer__top__col__content">
          <li class="yCmsComponent">
            <div class="content">
              <div class='footer__whatsapp'><a href='#' class='footer__whatsapp__content'><img
                    src='/images/whatsapp.png' class='footer__whatsapp__logo' /><span
                    class='footer__whatsapp__text'>Sign Up for Xtra Savings
                    on WhatsApp by adding <strong>0200 09 07 09</strong> to your contacts.</span>
                </a></div>
            </div>
          </li>
          <li class="yCmsComponent">
            <div class="content">
              <p class="footer__customer-care-info">Customer Care: <a href="/">0200 09 07 09</a></p>
            </div>
          </li>
          <li class="yCmsComponent"> <a href="/" title="Frequently Asked Questions">Frequently Asked Questions</a></li>
          <li class="yCmsComponent"> <a href="/" title="Contact Us">Contact Us</a></li>
          <li class="yCmsComponent"> <a href="/about" title="About Us">About Us</a></li>
          <li class="yCmsComponent"> <a href="/" title="Careers" target="_blank">Careers</a></li>
          <li class="yCmsComponent"> <a href="/" title="Advertise With Us" target="_blank">Advertise With Us</a></li>
          <li class="yCmsComponent">
            <div class="content">
              <p class="footer__customer-care-info">Xtra Savings Support: <a href="/"">0200 09 07 09</a>
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class=" footer__top__col footer__top__col--xtra-savings footer__top__col--accordion
                  js-footer-col-accordion">
                  <h4 class="footer__title">Xtra Savings</h4>
                  <ul class="footer__top__col__content">
                    <li>
                      <div class="yCmsComponent footer__xs-banner">
                        <div> <a href="">
                            <img class="low-quality-img" src="/images/loyalty.JPG"></a>
                        </div>
                      </div>
                    </li>
                    <li class="yCmsComponent"> <a href="#" title="View All Xtra Savings">View All Xtra Savings</a></li>
                    <li class="yCmsComponent"> <a href="#" class="link-ga-register-label link-ga-register-label--xs"
                        title="Link Your Card">Link Your Card</a>
                    </li>
                    <li class="yCmsComponent"> <a href="#" title="Xtra Savings Benefits">Xtra Savings Benefits</a>
                    </li>
                    <li class="yCmsComponent"> <a href="#" title="Xtra Savings Terms & Conditions">Xtra Savings Terms &
                        Conditions</a></li>
                  </ul>
            </div>

            <div class="footer__top__col footer__top__col--extras">
              <div class="footer__top__col__row">
                <h4 class="footer__title">Download the Tamazoun App</h4>
                <div class="footer__app">
                  <div class="yCmsComponent footer__app__logo footer__app__logo--gp"> <a href="https://play.google.com"
                      class="footer__app__logo--gp" aria-label="GooglePlayAppLink" target="_blank"><img
                        src="/images/google-play-logo.webp" alt="Google Play"></a></div>
                  <div class="yCmsComponent footer__app__logo footer__app__logo--as"> <a href="https://apps.apple.com"
                      class="footer__app__logo--as" aria-label="AppStoreLink" target="_blank"><img
                        src="/images/app-store-logo.webp" alt="App Store"></a></div>
                </div>
              </div>


              <div class="footer__top__col__row">
                <h4 class="footer__title">Follow us on</h4>
                <ul class="footer__social-networks">
                  <li class="yCmsComponent fb"> <a href="https://www.facebook.com" class="fb"
                      aria-label="FacebookFooterLink" target="_blank"></a></li>
                  <li class="yCmsComponent tw"> <a href="https://twitter.com" class="tw" aria-label="TwitterFooterLink"
                      target="_blank"></a></li>
                  <li class="yCmsComponent it"> <a href="https://www.instagram.com" class="it"
                      aria-label="InstagramFooterLink" target="_blank"></a></li>
                  <li class="yCmsComponent yt"> <a href="https://www.youtube.com" class="yt"
                      aria-label="YoutubeFooterLink" target="_blank"></a></li>
                </ul>
              </div>
            </div>
      </div>

      <div class="footer__bottom">
        <div class="footer__bottom__left">
          <div class="yCmsComponent footer__link"> <a href="/" class="icon-terms-conditions"
              title="Terms & Conditions">Terms & Conditions</a></div>
          <div class="yCmsComponent footer__link"> <a href="#" title="Xtra Savings Terms & Conditions">Xtra Savings
              Terms & Conditions</a></div>
          <div class="yCmsComponent footer__link"> <a href="/" class="icon-privacy-policy"
              title="Privacy Policy">Privacy Policy</a></div>
          <div class="yCmsComponent footer__link"> <a href="/" title="Cookie Policy">Cookie Policy</a>
          </div>
          <div class="yCmsComponent footer__link"> <a href="/" title="Sitemap">Sitemap</a></div>
        </div>
        <div class="footer__bottom__right">
          <div class="yCmsComponent footer__copyright">
            <div class="content">© 2020 All rights reserved.Thab</div>
          </div>
          <div class="yCmsComponent "> <a href="/" aria-label=""><img src="/" alt=""></a></div>
        </div>
      </div>

  </div>
</footer>