<% layout('layout') -%>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to the TAMAZOUN ONLINE SHOPPING</h1>
      <p>THIS IS THE ABOUT PAGE
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
